* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #00abdf;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.container-one {
    width: 70%;
}

.container-one ul {
    display: flex;
    list-style: none;
    color: rgb(238, 237, 237);
    opacity: 0.8;
    margin: 5% 0% 0% 10%;
}

a {
    color: rgb(238, 237, 237);
    text-decoration: none;
}

li {
    margin-right: 10em;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading h1 {
    text-align: center;
    margin-top: 10%;
    font-size: 55px;
    word-spacing: px;
    color: white;
    font-weight: normal;
}

.heading p {
    text-align: center;
    margin-top: 5%;
    font-size: 20px;
    color: white;
    opacity: 0.9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading button {
    margin-bottom: 15%;
    border-radius: 25px;
    align-self: center;
    width: 180px;
    margin-top: 7%;
    padding: 12px;
    background-color: #00abdf;
    color: white;
    font-weight: bold;
    opacity: 0.8;
    border: 0.1px solid rgb(238, 237, 237);
}

.icons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 6%;
}

.icons i {
    font-size: 3em;
}

.icon-text {
    display: flex;
    margin: 3% 0% 3% 7%;
    justify-content: space-evenly;
    color: #eeeded;
    opacity: 0.9;
    font-size: 18px;
    margin-left: 7%;
}

.container-two header h1 {
    text-align: center;
    margin-top: 12%;
    font-size: 45px;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
}

.container-two {
    width: 30%;
    background-color: white;
}

.container-two h2 {
    margin: 7% 0% 10% 0%;
    font-size: 30px;
    line-height: 1.4;
    margin-left: 5%;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

input {
    width: 400px;
    padding: 20px;
    border-radius: 7px;
    margin-bottom: 8%;
}

form p {
    align-self: flex-end;
    margin: 0% 7% 5% 0%;
}

form button {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: #00abdf;
    border: 0px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 50%;
}


/*=======================================================MEDIAQUERIES==========================================================*/

@media only screen and (max-width: 480px) and (min-width: 320px) {
    html,
    body {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .wrapper {
        flex-direction: column;
    }
    .container-one {
        width: 100%;
    }
    .container-two {
        width: 100%;
    }
    .container-one ul {
        display: none;
    }
    .container-two h1 {
        display: none;
    }
    .container-two h2 {
        font-size: 20px;
        margin-top: 7%;
    }
    input {
        width: 330px;
    }
    form button {
        width: 330px;
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
    html,
    body {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .wrapper {
        flex-direction: column;
    }
    .container-one {
        width: 100%;
    }
    .container-one h1 {
        font-size: 110px;
    }
    .container-one p {
        font-size: 50px;
    }
    .container-one button {
        width: 250px;
        padding: 18px;
        font-size: 28px;
    }
    .container-two {
        width: 100%;
    }
    .container-one ul {
        display: none;
    }
    .container-two h1 {
        display: none;
    }
    .container-two h2 {
        font-size: 45px;
        margin-top: 7%;
    }
    input {
        width: 620px;
        font-size: 40px;
        border-radius: 15px;
    }
    form p {
        font-size: 38px;
    }
    form button {
        width: 620px;
        margin-bottom: 30px;
        font-size: 40px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
    html,
    body {
        width: 100%;
        margin: 0;
        padding: 0;
        /* overflow-x: hidden; */
    }
    .wrapper {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .container-one {
        width: 100%;
    }
    .container-one h1 {
        font-size: 150px;
    }
    .container-one p {
        font-size: 50px;
    }
    .container-one button {
        width: 250px;
        padding: 18px;
        font-size: 28px;
    }
    .container-two {
        width: 100%;
    }
    .container-one ul {
        display: none;
    }
    .container-two h1 {
        display: none;
    }
    .container-two h2 {
        font-size: 45px;
        margin-top: 7%;
    }
    input {
        width: 750px;
        font-size: 40px;
        border-radius: 15px;
    }
    form p {
        font-size: 38px;
    }
    form button {
        width: 750px;
        margin-bottom: 30px;
        font-size: 40px;
    }
}